@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Apple Health Benefits</h1>

    <img src="~/Images/Apples.jpg" alt="Apple" width="400" height="400" />

    <h2>Health Benefits:</h2>
    <ul>
        <li>Rich in dietary fiber, promoting digestive health.</li>
        <li>Loaded with antioxidants, protecting against diseases.</li>
        <li>May help lower the risk of heart disease.</li>
        <li>Contains essential vitamins and minerals, such as vitamin C and potassium.</li>
        <li>May aid in weight management due to low calories and high fiber content.</li>
        <li>May contribute to better lung function and asthma control.</li>
    </ul>

    <p>Enjoy the goodness of apples for a healthier life!</p>
</body>
</html>