@{
    ViewData["Title"] = "Oranges Health Benefits";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

    <img src="~/Images/Oranges.jpg" alt="Orange" width="400" height="400" />

    <h2>Health Benefits:</h2>
    <ul>
        <li>High in vitamin C, boosting the immune system.</li>
        <li>Rich in antioxidants, protecting cells from damage.</li>
        <li>May help lower the risk of heart disease.</li>
        <li>Good source of dietary fiber, aiding in digestion.</li>
        <li>May improve skin health and promote a youthful appearance.</li>
        <li>Contains essential minerals like potassium and calcium.</li>
    </ul>

    <p>Incorporate oranges into your diet for a healthier lifestyle!</p>
</body>
</html>
